[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
icoscp-core = "*"
python-dateutil = "*"
pandas = "*"
pause = "*"
icos-cp = "*"

[dev-packages]

[requires]
python_version = "3"
